:root {
  --color-0: #ffffff;
  --color-1: #222831;
  --color-2: #393e46;
  --color-3: #ffd369;
  --color-4: #eeeeee;
  --color-rbga-2-95: rgba(34, 40, 49, 0.95);
  --color-rbga-cccccc-10: rgba(204, 204, 204, 0.1);
  --color-rbga-0b0b0d-80: rgba(11, 11, 13, 0.8);
}
