.connect-wrap {
    display: flex;
    width: 100%;

    .layout-left {
        width: 35%;

        .connect-image {
            position: fixed;
            width: 35%;
            height: 100vh;
            background: url("../../assets/images/connect.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    }

    .layout-right {
        padding: 100px 0;

        .connect-layout {
            padding: 0 100px;

            .title {
                width: 100%;
                max-width: 500px;

                p {
                    font-size: 40px;
                    font-weight: 600;
                    margin: 0;
                }

                span {
                    font-size: 16px;
                }
            }

            .tabs {
                margin-top: 50px;
                position: relative;

                .tab-list {
                    display: flex;
                    gap: 25px;
                    font-size: 16px;
                    font-weight: 600;

                    div {
                        cursor: pointer;
                        transition: 1s linear;
                    }
                }

                #tab-active {
                    z-index: 1;
                    position: absolute;
                    bottom: -5px;
                    background-color: var(--color-4);
                    height: 2px;
                    transition: transform 0.25s ease-in-out;
                    border-radius: 0.3em;
                    will-change: transform;
                    backface-visibility: hidden;
                }
            }

            .wallet-box {
                margin-top: 25px;

                .wallet-item {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;
                    width: 80%;
                    padding: 5px 10px;
                    border: 1px solid var(--color-4);
                    border-radius: 15px;
                    transition: 0.2s linear;
                    cursor: pointer;

                    .metamask-logo {
                        width: 40px;
                        height: 40px;
                    }

                    .title-wallet {
                        font-size: 18px;
                        font-weight: 600;
                    }

                    &:hover {
                        background-color: var(--color-rbga-ccccc-10);
                    }

                    &:active {
                        transform: scale(0.98);
                    }
                }

                .form-login {
                    .input-field {
                        display: flex;
                        flex-direction: column;

                        & > label {
                            margin-bottom: 5px;
                        }

                        & > input {
                            width: 250px;
                            background-color: transparent;
                            border: 1px solid #ccc;
                            padding: 10px 15px;
                            margin-bottom: 15px;
                            border-radius: 10px;
                            color: #fff;
                            font-size: 14px;
                        }
                    }

                    .action-field {
                        & > button {
                            padding: 10px 20px;
                            border: 1px solid #ccc;
                            border-radius: 10px;
                            font-weight: bold;
                            background-color: #fff;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .connect-wrap {
        .layout-left {
            display: none;
        }
        .layout-right {
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .connect-wrap {
        .layout-left {
            display: none;
        }
        .layout-right {
            .connect-layout {
                width: 80%;
                padding: 0;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 524px) {
    .connect-wrap {
        .layout-right {
            .connect-layout {
                width: 90%;
                padding: 0;
                margin: 0 auto;

                .tabs {
                    padding: 10px 0;
                    overflow-y: hidden;
                    overflow-x: auto;
                }
            }
        }
    }
}
