.background-card {
    max-width: 250px;
    padding: 10px;
    .card-layout {
        .card-image {
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
