:root {
    --grid-col-1: repeat(1, minmax(0, 1fr));
    --grid-col-2: repeat(2, minmax(0, 1fr));
    --grid-col-3: repeat(3, minmax(0, 1fr));
    --grid-col-4: repeat(4, minmax(0, 1fr));
    --grid-col-5: repeat(5, minmax(0, 1fr));
    --grid-col-6: repeat(6, minmax(0, 1fr));
}
